@model TECO_M_Marca

@{
    ViewBag.Title = "Actualizar Marca";
    Layout = "_LayoutAdmin";
}

<div>
    <h2>Actualizar Marca</h2>
    <form asp-action="Edit" method="post" class="modifyElement">
        @Html.AntiForgeryToken()
        <input type="hidden" name="controller" id="controller" value="Marcas">
        <input type="hidden" name="action" id="action" value="Edit">
        <input type="hidden" id="TN_Id" name="TN_Id" value="@Model.TN_Id">
        <div class="formgroup">
            <label for="TC_Nombre">Nombre:</label>
            <input type="text" name="TC_Nombre" id="TC_Nombre" value="@Model.TC_Nombre" required>
        </div>
        <div class="formgroup">
            <label for="TB_Activo">Estado:</label>
            <select name="TB_Activo" id="TB_Activo">
                <option value="true" selected="@(Model.TB_Activo ? "selected" : null)">Activo</option>
                <option value="false" selected="@(!Model.TB_Activo ? "selected" : null)">Inactivo</option>
            </select>
        </div>
        <div class="btngroup">
            <button type="submit" id="updateBtn">Actualizar</button>
            <a asp-action="Index">Regresar</a>
        </div>
    </form>
</div>
