@model IEnumerable<Inventario_Productos_Tecnologicos.Models.Marcas>

@{
    ViewBag.Title = "Listado de Marcas";
    Layout = "_LayoutAdmin";
}
<div class="pageIndexContainer">
    <h2 class="pageTitle">Marcas</h2>
    <form asp-action="Search" method="GET">
        <input type="text" id="searchElement" name="searchElement" placeholder="Buscar por nombre o Id:"
               value="@ViewBag.SearchString"/>
        <button type="submit" asp-action="Search" class="btnSearch">Buscar</button>
        <div class="radio-group-grid">
            <div class="radio-group">
                <label for="todos">Todos</label>
                <input type="radio" name="activeFilter" id="todos" value="all"
                       @(string.IsNullOrEmpty(ViewBag.ActiveFilter) || ViewBag.ActiveFilter == "all" ? "checked" : "")>
                <label for="active">Activo</label>
                <input type="radio" name="activeFilter" id="active" value="true"
                       @(ViewBag.ActiveFilter == "true" ? "checked" : "")/>
                <label for="Inactive">Inactivo</label>
                <input type="radio" name="activeFilter" id="Inactive" value="false"
                       @(ViewBag.ActiveFilter == "false" ? "checked" : "")/>
            </div>
            <div class=" btnCreateContainer">
                <a asp-action="Create" class="btnCreate">Crear</a>
            </div>
        </div>
    </form>
    
    
    <div class="tableContainer">
        <div class="tbl-header TMarca">
            <span class="headerText">ID</span>
            <span class="headerText">Nombre</span>
            <span class="headerText">Estado</span>
            <span class="headerText">Opciones</span>
        </div>
        <div class="tbl-content">
            @if (!Model.Any())
            {
                <div class="tableRow">
                    <span class="NoElements">No hay @ViewBag.Title</span>
                </div>
            }
            else
            {
                @foreach (var marca in Model)
                {
                    <div class="tableRow TMarca">
                        <span class="tableCell">@marca.Id</span>
                        <span class="tableCell">@marca.Nombre</span>
                        <span class="columnEstado tableCell">
                                @if (marca.Activo)
                            {
                                <span class="badge text-bg-success tableCell">Activo</span>
                            }
                            else
                            {
                                <span class="badge text-bg-danger tableCell">Inactivo</span>
                            }
                            </span>
                        <div class="tableButtonsColumn">
                            <a asp-action="Edit" asp-route-id="@marca.Id" class="EditBtn tooltipContainer">
                                <img src="~/img/ICO_Edit.svg" alt="Editar"/>
                                <span class="TooltipText">Editar</span>
                            </a>
                            <button type="button" data-id="@marca.Id"
                                    class="showModal tooltipContainer btnSwicthActive @(marca.Activo ? "redHighlight" : "greenHighlight")"
                                    value="@marca.Nombre" data-active="@marca.Activo">
                                @if (marca.Activo)
                                {
                                    <img src="~/img/ICO_deactivate.svg" alt="Desactivar" class="iconDeactivate"/>
                                }
                                else
                                {
                                    <img src="~/img/ICO_activate.svg" alt="Activar" class="iconActivate"/>
                                }
                                <span class="TooltipText">@(marca.Activo ? "Desactivar" : "Activar")</span>
                            </button>
                        </div>
                    </div>
                }
                <div class="tableRow listEnd">
                    <span>Fin de la Lista</span>
                </div>
            }
        </div>
    </div>
    @await Component.InvokeAsync("DeleteDialog", new { actionName = "SwitchActive", controllerName = "Marcas" })
</div>
