@model Inventario_Productos_Tecnologicos.Models.Productos

@{
    ViewBag.Title = "Eliminar Producto";
    Layout = "_LayoutAdmin";
}

<h1>Confirmar eliminación del producto</h1>

<h3>¿Seguro que desea desactivar este producto?</h3>

<div>
    <h4>@Model.Nombre</h4>
    <dl class="row">
        <dt class="col-sm-2">Marca</dt>
        <dd class="col-sm-10">@Model.Marca?.Nombre</dd>


        <dt class="col-sm-2">Subcategoría</dt>
        <dd class="col-sm-10">@Model.Subcategoria?.Nombre</dd>

        <dt class="col-sm-2">Precio</dt>
        <dd class="col-sm-10">@Model.Precio.ToString("C")</dd>

        <dt class="col-sm-2">Stock</dt>
        <dd class="col-sm-10">@Model.Stock</dd>
    </dl>
</div>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Desactivar</button>
    <a href="@Url.Action("Index")" class="btn btn-secondary">Cancelar</a>
</form>
