@model List<Inventario_Productos_Tecnologicos.Models.TECO_A_Producto>

@{
    ViewBag.Title = "Productos";
    Layout = "_LayoutAdmin";
}
<div class="pageIndexContainer">
    <h2 class="pageTitle">Productos</h2>
    <form asp-action="Search" method="GET">
        <input type="text" id="searchElement" name="searchElement" placeholder="Buscar por nombre o Id:"
               value="@ViewBag.SearchString"/>
        <button type="submit" asp-action="Search" class="btnSearch">Buscar</button>
        <div class="radio-group-grid">
            <div class="radio-group">
                <label for="todos">Todos</label>
                <input type="radio" name="activeFilter" id="todos" value="all"
                       @(string.IsNullOrEmpty(ViewBag.ActiveFilter) || ViewBag.ActiveFilter == "all" ? "checked" : "")>
                <label for="active">Activo</label>
                <input type="radio" name="activeFilter" id="active" value="true"
                       @(ViewBag.ActiveFilter == "true" ? "checked" : "")/>
                <label for="Inactive">Inactivo</label>
                <input type="radio" name="activeFilter" id="Inactive" value="false"
                       @(ViewBag.ActiveFilter == "false" ? "checked" : "")/>
            </div>
            <div class=" btnCreateContainer">
                <a asp-action="Create" class="btnCreate">Crear</a>
            </div>
        </div>
        <div class="selectGroup">
            <label for="marcas">Marcas:</label>
            <select name="marcas" id="marcas" class="searchSelect">
                @if (ViewBag.SelectedMarca == "all")
                {
                    <option value="all" selected>Todos</option>
                }
                else
                {
                    <option value="all">Todos</option>
                }
                @foreach (var marca in ViewBag.marcas)
                {
                    @if (ViewBag.SelectedMarca == marca.Value)
                    {
                        <option value="@marca.Value" selected>@marca.Text</option>
                    }
                    else
                    {
                        <option value="@marca.Value">@marca.Text</option>
                    }
                }
            </select>
            <label for="subcategorias">Subcategorias:</label>
            <select name="subcategorias" id="subcategorias" class="searchSelect">
                @if (ViewBag.SelectedSubcategoria == "all")
                {
                    <option value="all" selected>Todos</option>
                }
                else
                {
                    <option value="all">Todos</option>
                }
                @foreach (var sub in ViewBag.Subcategorias)
                {
                    @if (ViewBag.SelectedSubcategoria == sub.Value)
                    {
                        <option value="@sub.Value" selected>@sub.Text</option>
                    }
                    else
                    {
                        <option value="@sub.Value">@sub.Text</option>
                    }
                }
            </select>
        </div>
    </form>

    <div class="tableContainer">
        <div class="tbl-header TProd">
            <span class="headerText">ID</span>
            <span class="headerText">Nombre</span>
            <span class="headerText">Marca</span>
            <span class="headerText">Subcategoría</span>
            <span class="headerText">Precio</span>
            <span class="headerText">Stock</span>
            <span class="headerText">Novedad</span>
            <span class="headerText">Activo</span>
            <span class="headerText">Opciones</span>
        </div>
        <div class="tbl-content">
            @if (!Model.Any())
            {
                <div class="tableRow listEnd">
                    <span>No hay elementos</span>
                </div>
            }
            else
            {
                @foreach (var prod in Model)
                {
                    <div class="tableRow TProd">
                        <span class="tableCell">@prod.TN_Id</span>
                        <span class="tableCell">@prod.TC_Nombre</span>
                        <span class="tableCell">@prod.Marca?.TC_Nombre</span>
                        <span class="tableCell">@prod.Subcategoria?.TC_Nombre</span>
                        <span class="tableCell">@(prod.TN_Precio)</span>
                        <span class="tableCell">@(prod.TN_Stock)</span>
                        <div class="columnEstado tableCell">
                            @if (prod.TB_Novedad)
                            {
                                <span class="badge text-bg-info tableCell">Novedad</span>
                            }
                        </div>
                        <div class="columnEstado tableCell">
                            @if (prod.TB_Activo)
                            {
                                <span class="badge text-bg-success tableCell">Activo</span>
                            }
                            else
                            {
                                <span class="badge text-bg-danger tableCell">Inactivo</span>
                            }
                        </div>
                        <div class="tableButtonsColumn">
                            <a class="DetailsBtn tooltipContainer" asp-action="Details" asp-route-id="@prod.TN_Id">
                                <img src="~/img/ICO_Details.svg" alt="Detalles"/>
                                <span class="TooltipText">Detalles</span>
                            </a>
                            <a asp-action="Edit" asp-route-id="@prod.TN_Id" class="EditBtn tooltipContainer">
                                <img src="~/img/ICO_Edit.svg" alt="Editar"/>
                                <span class="TooltipText">Editar</span>
                            </a>
                            <button type="button" data-id="@prod.TN_Id"
                                    class="showModal tooltipContainer btnSwicthActive @(prod.TB_Activo ? "redHighlight" : "greenHighlight")"
                                    value="@prod.TC_Nombre" data-active="@prod.TB_Activo">
                                @if (prod.TB_Activo)
                                {
                                    <img src="~/img/ICO_deactivate.svg" alt="Desactivar" class="iconDeactivate"/>
                                }
                                else
                                {
                                    <img src="~/img/ICO_activate.svg" alt="Activar" class="iconActivate"/>
                                }
                                <span class="TooltipText">@(prod.TB_Activo ? "Desactivar" : "Activar")</span>
                            </button>
                        </div>
                    </div>
                }

                <div class="tableRow listEnd">
                    <span>Fin de la Lista</span>
                </div>
            }
        </div>
    </div>
    @await Component.InvokeAsync("DeleteDialog", new { actionName = "SwitchActive", controllerName = "Productos" })
</div>
