@model Roles

@{
    ViewBag.Title = "Editar Rol";
    Layout = "_LayoutAdmin";
}
<div>
    <h2>Editar Rol</h2>
    <form asp-action="Edit" method="post" class="modifyElement">
        @Html.AntiForgeryToken()
        <input type="hidden" name="controller" id="controller" value="Roles">
        <input type="hidden" id="Id" name="Id" value="@Model.Id">
        <div class="formgroup">
            <label for="Name">Nombre:</label>
            <input type="text" name="Name" id="Name" value="@Model.Name">
        </div>
        <div class="formgroup">
            <label for="Activo">Estado:</label>
            <select name="Activo" id="Activo">
                <option value="true" selected="@(Model.Activo ? "selected" : null)">Activo</option>
                <option value="false" selected="@(Model.Activo ? null : "selected")">Inactivo</option>
            </select>
        </div>
        <div class="btngroup">
            <button type="submit" id="updateBtn">Actualizar</button>
            <a type="button" asp-action="Index">Regresar</a>
        </div>
    </form>
</div>
