@model List<Inventario_Productos_Tecnologicos.Models.Roles>

@{
    ViewBag.Title = "Roles";
    Layout = "_LayoutAdmin";
}

<div>
    <h2 class="pageTitle">Roles del sistema</h2>

    <form asp-action="Search" method="GET">
        <input type="text" id="searchElement" name="searchElement" placeholder="Buscar por nombre o Id:"
               value="@ViewBag.SearchString"/>
        <button type="submit" asp-action="Search">Buscar</button>
        <div class="radio-group">
            <label for="todos">Todos</label>
            <input type="radio" name="activeFilter" id="todos" value="all"
                   @(string.IsNullOrEmpty(ViewBag.ActiveFilter) || ViewBag.ActiveFilter == "all" ? "checked" : "")>
            <label for="active">Activo</label>
            <input type="radio" name="activeFilter" id="active" value="true"
                   @(ViewBag.ActiveFilter == "true" ? "checked" : "")/>
            <label for="Inactive">Inactivo</label>
            <input type="radio" name="activeFilter" id="Inactive" value="false"
                   @(ViewBag.ActiveFilter == "false" ? "checked" : "")/>
        </div>
    </form>
    <a asp-action="Create">Crear</a>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Opciones</th>
        </tr>
        </thead>
        <tbody>
        @if (Model.Count == 0)
        {
            <tr>
                <td colspan="4" class="text-center bg-dark-subtle">No hay @ViewBag.Title</td>
            </tr>
        }
        else
        {
            @foreach (var rol in Model)
            {
                <tr>
                    <td>@rol.Id</td>
                    <td>@rol.Name</td>
                    <td>
                        @if (rol.Activo)
                        {
                            <span class="badge text-bg-success">Activo</span>
                        }
                        else
                        {
                            <span class="badge text-bg-danger">Inactivo</span>
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@rol.Id">Edit</a>
                        <button type="button" class="showModal" data-id="@rol.Id"
                                value="@rol.Name" data-active="@rol.Activo"
                                class="showModal btn btn-sm @(rol.Activo ? "btn-danger" : "btn-success")">
                            @(rol.Activo ? "Desactivar" : "Activar")
                        </button>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
    @await Component.InvokeAsync("DeleteDialog", new { actionName = "SwitchActive", controllerName = "Roles" })
</div>


