@model TECO_M_Cupon

@{
    ViewBag.Title = "Editar cupón";
    Layout = "_LayoutAdmin";
}

<div class="cuponesFormEdit">
    <h2>@ViewBag.Title</h2>
    <form class="modifyElement">
        @Html.AntiForgeryToken()
        <input type="hidden" id="controller" name="controller" value="Cupones"/>
        <input type="hidden" id="action" name="action" value="Edit"/>
        <input type="hidden" id="TN_Id" name="TN_Id" value="@Model.TN_Id"/>
        <div class="form-group">
            <label asp-for="TC_Codigo" class="control-label">Código</label>
            <input class="form-control" asp-for="TC_Codigo" placeholder="Código que usaran los clientes" type="text"/>
            <span asp-validation-for="TC_Codigo" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="TC_Descripcion">Descripción</label>
            <textarea asp-for="TC_Descripcion" class="form-control" rows="3"></textarea>
            <span asp-validation-for="TC_Descripcion" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="TC_TipoDescuento">Tipo de Descuento</label>
            <select asp-for="TC_TipoDescuento" class="form-control"
                    asp-items="@ViewBag.TipoDescuento" required>
            </select>
            <span asp-validation-for="TC_TipoDescuento" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="TN_Valor" class="control-label">Valor</label>
            <span id="symbolColon">₡</span>
            <input class="form-control" asp-for="TN_Valor" type="number"/>
            <span id="symbolPorc">%</span>
        </div>
        <div>
            <label asp-for="TF_FechaInicio">Fecha de inicio:</label>
            <input type="date" asp-for="TF_FechaInicio" class="form-control" min="@DateTime.Today" required/>
            <span asp-validation-for="TF_FechaInicio" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="TF_FechaFin">Fecha de finalización:</label>
            <input type="date" asp-for="TF_FechaFin" class="form-control" min="@DateTime.Today.AddDays(1)" required/>
            <span asp-validation-for="TF_FechaFin" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="TN_UsosMaximos">Usos máximos</label>
            <input asp-for="TN_UsosMaximos" class="form-control"/>
            <span asp-validation-for="TN_UsosMaximos" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="TN_UsosActuales">Usos Actuales</label>
            <input asp-for="TN_UsosActuales" class="form-control"/>
            <span asp-validation-for="TN_UsosActuales" class="text-danger"></span>

        </div>
        <div class="formgroup">
            <label>Estado:</label>
            <div>
                <input type="radio" asp-for="TB_Activo" id="active" value="true">
                <label for="active">Activo</label>

                <input type="radio" asp-for="TB_Activo" id="inactive" value="false">
                <label for="inactive">Inactivo</label>
            </div>
        </div>
        <button type="button" id="updateBtn" class="btn btn-primary">Guardar</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
