@model List<Cupones>

@{
    ViewBag.Title = "Cupones";
    Layout = "_LayoutAdmin";
}

<div>
    <h2 class="pageTitle">Cupones</h2>
    <form asp-action="Search" method="GET">
        <input type="text" id="searchElement" name="searchElement" placeholder="Buscar por nombre o Id:"
               value="@ViewBag.SearchString"/>
        <button type="submit" asp-action="Search">Buscar</button>
        <label>Fecha:</label>
        <input type="date" id="searchDate" name="searchDate" placeholder="Buscar por fecha:"
               value="@ViewBag.SearchDate"/>
        <label for="TipoDescuento">Tipo de movimiento:</label>
        <select name="TipoDescuento" id="TipoDescuento">
            @if (ViewBag.SelectedTipoDescuento == "all")
            {
                <option value="all" selected>Todos</option>
            }
            else
            {
                <option value="all">Todos</option>
            }
            @foreach (var tDesc in ViewBag.TipoDescuento)
            {
                if (ViewBag.SelectedTipoMovimiento == tDesc.Key.ToString())
                {
                    <option value="@tDesc.Key" selected>@tDesc.Value</option>
                }
                else
                {
                    <option value="@tDesc.Key">@tDesc.Value</option>
                }
            }
        </select>
        <div class="radio-group">
            <label for="todos">Todos</label>
            <input type="radio" name="activeFilter" id="todos" value="all"
                   @(string.IsNullOrEmpty(ViewBag.ActiveFilter) || ViewBag.ActiveFilter == "all" ? "checked" : "")>
            <label for="active">Activo</label>
            <input type="radio" name="activeFilter" id="active" value="true"
                   @(ViewBag.ActiveFilter == "true" ? "checked" : "")/>
            <label for="Inactive">Inactivo</label>
            <input type="radio" name="activeFilter" id="Inactive" value="false"
                   @(ViewBag.ActiveFilter == "false" ? "checked" : "")/>
        </div>
    </form>

    <p>
        <a asp-action="Create" class="btn btn-primary">Crear cup칩n</a>
    </p>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>C칩digo</th>
            <th>Descripci칩n</th>
            <th>Tipo de descuento</th>
            <th>Valor</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Usos actuales</th>
            <th>Usos m치ximos</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var cupon in Model)
        {
            <tr>
                <td>
                    @cupon.Codigo
                </td>
                <td>
                    @cupon.Descripcion
                </td>
                <td>
                    @(cupon.TipoDescuento)
                </td>
                <td>
                    @cupon.Valor
                </td>
                <td>
                    @cupon.FechaInicio.Date
                </td>
                <td>
                    @cupon.FechaFin.Date
                </td>
                <td>
                    @cupon.UsosActuales
                </td>
                <td>
                    @cupon.UsosMaximos
                </td>
                <td>
                    @if (cupon.Activo)
                    {
                        <span class="badge text-bg-success">Activo</span>
                    }
                    else
                    {
                        <span class="badge text-bg-danger">Inactivo</span>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@cupon.Id" class="btn btn-info btn-sm">Editar</a>
                    <button type="button" data-id="@cupon.Id"
                            data-active="Delete" value="@cupon.Descripcion"
                            class="showModal btn btn-sm btn-danger">
                        Eliminar
                    </button>
                </td>
            </tr>
        }
        </tbody>
    </table>
    @await Component.InvokeAsync("DeleteDialog", new { actionName = "Delete", controllerName = "Cupones" })
</div>
