@model List<TECO_M_Cupon>

@{
    ViewBag.Title = "Cupones";
    Layout = "_LayoutAdmin";
}

<div class="pageIndexContainer">
    <h2 class="pageTitle">Cupones</h2>
    <form asp-action="Search" method="GET">
        <input type="text" id="searchElement" name="searchElement" placeholder="Buscar por código o descripción:"
               value="@ViewBag.SearchString"/>
        <button type="submit" asp-action="Search" class="btnSearch">Buscar</button>
        <div class="radio-group-grid">
            <div class="radio-group">
                <label for="todos">Todos</label>
                <input type="radio" name="activeFilter" id="todos" value="all"
                       @(string.IsNullOrEmpty(ViewBag.ActiveFilter) || ViewBag.ActiveFilter == "all" ? "checked" : "")>
                <label for="active">Activo</label>
                <input type="radio" name="activeFilter" id="active" value="true"
                       @(ViewBag.ActiveFilter == "true" ? "checked" : "")/>
                <label for="Inactive">Inactivo</label>
                <input type="radio" name="activeFilter" id="Inactive" value="false"
                       @(ViewBag.ActiveFilter == "false" ? "checked" : "")/>
            </div>

            <div class=" btnCreateContainer">
                <a asp-action="Create" class="btnCreate">Crear</a>
            </div>
        </div>
        <div class="selectGroup">
            <label for="tipoDescuento">Tipo de descuento:</label>
            <select name="tipoDescuento" id="tipoDescuento" class="searchSelect">
                @if (ViewBag.SelectedTipoDescuento == "all")
                {
                    <option value="all" selected>Todos</option>
                }
                else
                {
                    <option value="all">Todos</option>
                }
                @foreach (var tDesc in ViewBag.TipoDescuento)
                {
                    if (ViewBag.SelectedTipoDescuento == tDesc.Key) // Comparas la CLAVE seleccionada con la CLAVE del diccionario
                    {
                        <option value="@tDesc.Key" selected>@tDesc.Value</option>
                    }
                    else
                    {
                        <option value="@tDesc.Key">@tDesc.Value</option>
                    }
                }
            </select>
        </div>
    </form>

    <div class="tableContainer">
        <div class="tbl-header TCupon">
            <span class="headerText">Código</span>
            <span class="headerText">Descripción</span>
            <span class="headerText">Tipo de descuento</span>
            <span class="headerText">Valor</span>
            <span class="headerText">Fecha Inicio</span>
            <span class="headerText">Fecha Fin</span>
            <span class="headerText">Usos actuales</span>
            <span class="headerText">Usos máximos</span>
            <span class="headerText">Estado</span>
            <span class="headerText">Opciones</span>
        </div>
        <div class="tbl-content">
            @if (!Model.Any())
            {
                <div class="tableRow listEnd">
                    <span>Fin de la Lista</span>
                </div>
            }
            else
            {
                @foreach (var cupon in Model)
                {
                    <div class="tableRow TCupon">
                        <span class="tableCell">@cupon.TC_Codigo</span>
                        <span class="tableCell">@cupon.TC_Descripcion</span>
                        @if (cupon.TC_TipoDescuento == "P")
                        {
                            <span class="tableCell">Porcentaje</span>
                            <span class="tableCell">@cupon.TN_Valor%</span>
                        }
                        else
                        {
                            <span class="tableCell">Fijo</span>
                            <span class="tableCell">₡@cupon.TN_Valor</span>
                        }
                        <span
                            class="tableCell">@(cupon.TF_FechaInicio.Day + "/" + cupon.TF_FechaInicio.Month + "/" + cupon.TF_FechaInicio.Year)</span>
                        <span
                            class="tableCell">@(cupon.TF_FechaFin.Day + "/" + cupon.TF_FechaFin.Month + "/" + cupon.TF_FechaFin.Year)</span>
                        <span class="tableCell">@cupon.TN_UsosActuales</span>
                        <span class="tableCell">@cupon.TN_UsosMaximos</span>

                        <div class="columnEstado tableCell">
                            @if (cupon.TB_Activo)
                            {
                                <span class="badge text-bg-success tableCell">Activo</span>
                            }
                            else
                            {
                                <span class="badge text-bg-danger tableCell">Inactivo</span>
                            }
                        </div>
                        <div class="tableButtonsColumn">
                            <a asp-action="Edit" asp-route-id="@cupon.TN_Id" class="EditBtn tooltipContainer">
                                <img src="~/img/ICO_Edit.svg" alt="Editar"/>
                                <span class="TooltipText">Editar</span>
                            </a>
                            <button type="button" data-id="@cupon.TN_Id"
                                    class="showModal tooltipContainer btnSwicthActive @(cupon.TB_Activo ? "redHighlight" : "greenHighlight")"
                                    value="@cupon.TC_Codigo" data-active="@cupon.TB_Activo">
                                @if (cupon.TB_Activo)
                                {
                                    <img src="~/img/ICO_deactivate.svg" alt="Desactivar" class="iconDeactivate"/>
                                }
                                else
                                {
                                    <img src="~/img/ICO_activate.svg" alt="Activar" class="iconActivate"/>
                                }
                                <span class="TooltipText">@(cupon.TB_Activo ? "Desactivar" : "Activar")</span>
                            </button>
                        </div>
                    </div>
                }

                <div class="tableRow listEnd">
                    <span>Fin de la Lista</span>
                </div>
            }
        </div>
    </div>
    @await Component.InvokeAsync("DeleteDialog", new { actionName = "SwitchActive", controllerName = "Cupones" })
</div>
