@model Inventario_Productos_Tecnologicos.Models.Productos

<article class="card-producto">
    <header>
        <img src="@Model.Imagen" alt="@Model.Nombre"/>
        <h3>@Model.Nombre</h3>
        <p>₡ @Model.Precio</p>
    </header>
    <a class="btnVerMas" asp-action="Details" asp-controller="Productos" asp-route-id="@Model.Id">Ver más</a>
    <button class="btnAddToCart">
        <img src="~/img/ICO_BolsaCompra.svg" alt="">
        Agregar al carrito
    </button>
</article>
