@model List<Inventario_Productos_Tecnologicos.Models.Kardex>

@{
    ViewBag.Title = "Kardex General";
    Layout = "_LayoutAdmin";
}
<div class="pageIndexContainer">
    <h2 class="pageTitle">Kardex General</h2>

    <form asp-action="Search" method="GET">
        <input type="text" id="searchElement" name="searchElement" placeholder="Buscar por nombre de producto:"
               value="@ViewBag.SearchString"/>
        <button type="submit" asp-action="Search" class="btnSearch">Buscar</button>
        <div class="radio-group-grid">
            <div class="radio-group">
                <label for="todos">Todos</label>
                <input type="radio" name="activeFilter" id="todos" value="all"
                       @(string.IsNullOrEmpty(ViewBag.ActiveFilter) || ViewBag.ActiveFilter == "all" ? "checked" : "")>
                <label for="active">Activo</label>
                <input type="radio" name="activeFilter" id="active" value="true"
                       @(ViewBag.ActiveFilter == "true" ? "checked" : "")/>
                <label for="Inactive">Inactivo</label>
                <input type="radio" name="activeFilter" id="Inactive" value="false"
                       @(ViewBag.ActiveFilter == "false" ? "checked" : "")/>
            </div>
            <div class="btnCreateContainer">
                <a asp-action="CreateEntry" class="btnCreate entry">Nueva Entrada</a>
                <a asp-action="CreateExit" class="btnCreate exit">Nueva Salida</a>
            </div>
        </div>
        
        <div class="selectGroup">
            <label>Fecha:</label>
            <input type="date" id="searchDate" name="searchDate" placeholder="Buscar por fecha:"
                   value="@ViewBag.SearchDate" class="searchSelect"/>
            <label for="TipoMovimientoId">Tipo de movimiento:</label>
            <select name="TipoMovimientoId" id="TipoMovimientoId" class="searchSelect">
                @if (ViewBag.SelectedTipoMovimiento == "all")
                {
                    <option value="all" selected>Todos</option>
                }
                else
                {
                    <option value="all">Todos</option>
                }
                @foreach (var tMovimiento in ViewBag.TiposMovimiento)
                {
                    if (ViewBag.SelectedTipoMovimiento == tMovimiento.Id.ToString())
                    {
                        <option value="@tMovimiento.Id" selected>@tMovimiento.Tipo</option>
                    }
                    else
                    {
                        <option value="@tMovimiento.Id">@tMovimiento.Tipo</option>
                    }
                }
            </select>
        </div>
    </form>

    <div class="tableContainer">
        <div class="tbl-header TKardex">
            <span class="headerText">ID</span>
            <span class="headerText">Producto</span>
            <span class="headerText">Fecha</span>
            <span class="headerText">Stock Anterior</span>
            <span class="headerText">Cantidad</span>
            <span class="headerText">Stock Actual</span>
            <span class="headerText">Movimiento</span>
            <span class="headerText">Activo</span>
            <span class="headerText">Opciones</span>
        </div>
        <div class="tbl-content">
            @if (!Model.Any())
            {
                <div class="tableRow">
                    <span class="NoElements">No hay @ViewBag.Title</span>
                </div>
            }
            else
            {
                @foreach (var entry in Model)
                {
                    <div class="tableRow TKardex">
                        <span class="tableCell">@entry.Id</span>
                        <span class="tableCell">@(entry.Producto?.Nombre ?? "")</span>
                        <span class="tableCell">@(entry.Fecha.HasValue ? entry.Fecha.Value.ToString("dd/MM/yyyy") : "")</span>
                        <span class="tableCell">@(entry.StockAnterior ?? 0)</span>
                        <span class="tableCell">@(entry.Cantidad ?? 0)</span>
                        <span class="tableCell">@(entry.StockActual ?? 0)</span>
                        <span class="tableCell">@(entry.TipoMovimientoKardex?.Tipo ?? "-")</span>
                        <div class="columnEstado tableCell">
                            @if (entry.Activo)
                            {
                                <span class="badge text-bg-success tableCell">Activo</span>
                            }
                            else
                            {
                                <span class="badge text-bg-danger tableCell">Inactivo</span>
                            }
                        </div>
                        <div class="tableButtonsColumn">
                            <a class="DetailsBtn tooltipContainer" asp-action="Details" asp-route-id="@entry.Id">
                                <img src="~/img/ICO_Details.svg" alt="Detalles"/>
                                <span class="TooltipText">Detalles</span>
                            </a>
                            <button type="button" data-id="@entry.Id"
                                    class="showModal tooltipContainer btnSwicthActive @(entry.Activo ? "redHighlight" : "greenHighlight")"
                                    value="@entry.Producto?.Nombre" data-active="@entry.Activo">
                                @if (entry.Activo)
                                {
                                    <img src="~/img/ICO_deactivate.svg" alt="Desactivar" class="iconDeactivate"/>
                                }
                                else
                                {
                                    <img src="~/img/ICO_activate.svg" alt="Activar" class="iconActivate"/>
                                }
                                <span class="TooltipText">@(entry.Activo ? "Desactivar" : "Activar")</span>
                            </button>
                        </div>
                    </div>
                }
                <div class="tableRow listEnd">
                    <span>Fin de la Lista</span>
                </div>
            }
        </div>
    </div>
    @await Component.InvokeAsync("DeleteDialog", new { actionName = "SwitchActive", controllerName = "Kardex" })
</div>
