@model List<Usuarios>

@{
    ViewBag.Title = "Usuarios";
    Layout = "_LayoutAdmin";
}
<div class="pageIndexContainer">
    <h2 class="pageTitle">@ViewBag.Title</h2>

    <form asp-action="Search" method="GET">
        <input type="text" id="searchElement" name="searchElement" placeholder="Buscar por email o Id:"
               value="@ViewBag.SearchString"/>
        <button type="submit" asp-action="Search" class="btnSearch">Buscar</button>
        <div class="radio-group-grid">
            <div class="radio-group">
                <label for="todos">Todos</label>
                <input type="radio" name="activeFilter" id="todos" value="all"
                       @(string.IsNullOrEmpty(ViewBag.ActiveFilter) || ViewBag.ActiveFilter == "all" ? "checked" : "")>
                <label for="active">Activo</label>
                <input type="radio" name="activeFilter" id="active" value="true"
                       @(ViewBag.ActiveFilter == "true" ? "checked" : "")/>
                <label for="Inactive">Inactivo</label>
                <input type="radio" name="activeFilter" id="Inactive" value="false"
                       @(ViewBag.ActiveFilter == "false" ? "checked" : "")/>
            </div>
            <div class=" btnCreateContainer">
                <a asp-action="Create" class="btnCreate">Crear</a>
            </div>
        </div>
        <div class="selectGroup">
            <label for="rol">Roles:</label>
            <select name="rol" id="rol" class="searchSelect">
                @if (ViewBag.Rol == "all" || ViewBag.Rol == null)
                {
                    <option value="all" selected>Todos</option>
                }
                else
                {
                    <option value="all">Todos</option>
                }
                @if (ViewBag.Roles != null)
                {
                    @foreach (var rol in ViewBag.Roles)
                    {
                        if (ViewBag.Rol == rol.Id.ToString())
                        {
                            <option value="@rol.Id" selected>@rol.Name</option>
                        }
                        else
                        {
                            <option value="@rol.Id">@rol.Name</option>
                        }
                    }
                }
            </select>
        </div>
    </form>

    <div class="tableContainer">
        <div class="tbl-header tUsers">
            <span class="headerText">ID</span>
            <span class="headerText">Nombre</span>
            <span class="headerText">Apellidos</span>
            <span class="headerText">Email</span>
            <span class="headerText">Rol</span>
            <span class="headerText">Estado</span>
            <span class="headerText">Opciones</span>
        </div>
        <div class="tbl-content">
            @if (!Model.Any())
            {
                <div class="tableRow">
                    <span class="NoElements">No hay @ViewBag.Title</span>
                </div>
            }
            else
            {
                @foreach (var usuario in Model)
                {
                    <div class="tableRow tUsers">
                        <span class="tableCell">@usuario.Id</span>
                        <span class="tableCell">@usuario.Nombre</span>
                        <span class="tableCell">@usuario.Apellidos</span>
                        <span class="tableCell">@usuario.Email</span>
                        <span class="tableCell">@(usuario.RolNavigation?.Name ?? "Sin Rol")</span>
                        <span class="columnEstado tableCell">
                            @if (usuario.Activo)
                            {
                                <span class="badge text-bg-success tableCell">Activo</span>
                            }
                            else
                            {
                                <span class="badge text-bg-danger tableCell">Inactivo</span>
                            }
                        </span>
                        <div class="tableButtonsColumn">
                            <a asp-action="Edit" asp-route-id="@usuario.Id" class="EditBtn tooltipContainer">
                                <img src="~/img/ICO_Edit.svg" alt="Editar"/>
                                <span class="TooltipText">Editar</span>
                            </a>
                            <button type="button" data-id="@usuario.Id"
                                    class="showModal tooltipContainer btnSwicthActive @(usuario.Activo ? "redHighlight" : "greenHighlight")"
                                    value="@usuario.Nombre" data-active="@usuario.Activo">
                                @if (usuario.Activo)
                                {
                                    <img src="~/img/ICO_deactivate.svg" alt="Desactivar" class="iconDeactivate"/>
                                }
                                else
                                {
                                    <img src="~/img/ICO_activate.svg" alt="Activar" class="iconActivate"/>
                                }
                                <span class="TooltipText">@(usuario.Activo ? "Desactivar" : "Activar")</span>
                            </button>
                        </div>
                    </div>
                }
                <div class="tableRow listEnd">
                    <span>Fin de la Lista</span>
                </div>
            }
        </div>
    </div>
    @await Component.InvokeAsync("DeleteDialog", new { actionName = "SwitchActive", controllerName = "Usuarios" })
</div>
